<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="Member"> 
 	<insert id="joinMember" parameterType="member">
 	INSERT INTO Member VALUES(#{userId},#{userPw},#{userName},#{userEmail},'','',DEFAULT)
 	</insert>
 	<select	id="loginMember" parameterType="member" resultType="member">
 	SELECT userId, userPw, userName, userEmail FROM Member WHERE userId=#{userId}  
 	</select>
 	<select id="existedId" parameterType="String" resultType="String">
 	SELECT userId FROM Member where userId=#{userId}
 	</select>
 	<select id="searchUsers" parameterType="String" resultType="member">
 	SELECT userId FROM Member where userId like #{searchData}
 	</select>
 	<select id="bringProfile" parameterType="String" resultType="member">
 	SELECT userId,userName,userEmail,quote,picture from Member Where userId=#{userId}
 	</select>
 	<update id="editUserId" parameterType="ids">
 	update member set
 	userId=#{newId}
 	where userId=#{oldId}
	</update>
	<update id="editProfileDefault" parameterType="member">
	UPDATE member Set
	userName=#{userName},
	userEmail=#{userEmail},
	quote=#{quote}
	where userId=#{userId}
	</update>
	<update id="editUserPw" parameterType="member">
	update member set
	userPw=#{userPw}
	where userId=#{userId}
	</update>
	
	<insert id="makeFriends" parameterType="fr">
	insert into friend values(#{userId},#{friendId},default,default,default)
	</insert>
	<select id="isYourFriends" parameterType="fr" resultType="fr">
	select * from friend where userId=#{userId} and friendId=#{friendId}
	</select>
	<select id="bringNewFriendsReq" parameterType="String" resultType="int">
	select count(*) from friend where friendId=#{userId} and `read`=false
	</select>
</mapper>