<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="Note"> 
	<select id="bringNote" parameterType="String" resultType="note">
	SELECT * FROM PartyNote where noteCode like #{userId} and usable=true order by recentDate asc
	</select>
	<select id="countNote" parameterType="String" resultType="note">
	SELECT * FROM PartyNote where noteCode like #{userId}
	</select>
	<insert id="makeNote" parameterType="note">
	INSERT INTO PartyNote values(#{noteCode},#{noteTitle},#{noteDes},#{noteColor},
	'',default,default)
	</insert>
	
	<update id="deleteNote" parameterType="note">
	UPDATE PartyNote SET
	usable=false
	WHERE noteCode=#{noteCode}
	</update>
	<delete id="allDeletePost" parameterType="note">
	DELETE FROM NotePost WHERE postCode like #{noteCode}
	</delete>
	<select id="bringDisabledNote" parameterType="String" resultType="note">
	SELECT*FROM PartyNote where noteCode like #{userId} and usable=false order by noteCode asc limit 1
	</select>
	
	<update id="replaceNote" parameterType="note">
	UPDATE PartyNote SET
	noteTitle=#{noteTitle},
	noteDes=#{noteDes},
	noteColor=#{noteColor},
	usable=true,
	recentDate=default
	WHERE noteCode=#{noteCode}
	</update>
	
	<select id="bringPost" parameterType="String" resultType="post">
	SELECT * FROM NotePost Where postCode like #{noteCode} and usable=true and booked=0 order by postIndex asc
	</select>
	<select id="bringPostToMakeNewPost" parameterType="String" resultType="post">
	SELECT * FROM NotePost Where postCode like #{noteCode} and usable=true order by postCode asc
	</select>
	<select id="bringDisabledPost" parameterType="String" resultType="post">
	SELECT* FROM NotePost Where postCode like #{appendCode} and usable=false order by postCode asc limit 1
	</select>
	<insert id="makePost" parameterType="post">
	INSERT INTO NotePost values(
	#{postCode},
	#{postTitle},
	#{postSubtitle},
	#{postContents},
	#{postColor},
	#{postIndex},
	default,
	default,
	default,
	default,
	default)
	</insert>
	<update id="replaceNewPost" parameterType="post">
	UPDATE NotePost SET
	postTitle=#{postTitle},
	postSubtitle=#{postSubtitle},
	postContents=#{postContents},
	postColor=#{postColor},
	postIndex=#{postIndex},
	usable=true,
	booked=default,
	bookCode=default,
	pageIndex=default,
	recentDate=default
	WHERE postCode=#{postCode}
	</update>
	
	<update id="updatePostIndex" parameterType="java.util.List">
		<foreach collection="list" index="index" item="item" open="" separator=";" close="">
		UPDATE notepost
    	SET postIndex=#{item.postIndex}
    	where postCode=#{item.postCode}
    	</foreach>
	</update>
	
	<update id="disablePost" parameterType="post">
	UPDATE NotePost Set
	usable=false WHERE postCode=#{postCode}
	</update>
	<delete id="deletePost" parameterType="post">
	DELETE FROM NotePost WHERE postCode=#{postCode}
	</delete>
	<update id="editPost" parameterType="post">
	UPDATE NotePost Set 	
	postTitle=#{postTitle},
	postSubtitle=#{postSubtitle},
	postContents=#{postContents},
	postColor=#{postColor},
	postIndex=#{postIndex},
	usable=true,
	recentDate=default
	WHERE postCode=#{postCode}
	</update>
	<update id="updateNoteIndex" parameterType="post">
	UPDATE NotePost Set
	postIndex=#{postIndex}
	WHERE postCode=#{postCode}
	</update>
	<select id="selectUnusedBook" parameterType="String" resultType="String">
	SELECT bookCode FROM Book where bookCode like #{noteCode} and usable=false
	</select>
	<select id="selectLatestBook" parameterType="String" resultType="String">
	SELECT bookCode FROM Book where bookCode like #{noteCode} order by bookCode desc limit 1
	</select>
	<insert id="makeBook" parameterType="book">
	INSERT INTO Book values(#{bookCode},#{bookTitle},2,default,default)
	</insert>
	<update id="remakeBook" parameterType="book">
	UPDATE Book SET
	bookTitle=#{bookTitle},
	bookPage=2,
	usable=default,
	recentDate=default
	where bookCode=#{bookCode}
	</update>
	<update id="updatePostBooked" parameterType="post">
	UPDATE NotePost Set
	booked=true,
	bookCode=#{bookCode},
	pageIndex=#{pageIndex},
	recentDate=default
	where postCode=#{postCode}
	</update>
	<update id="addCountWholeBookPage" parameterType="book">
	UPDATE Book Set bookPage=#{bookPage} where bookCode=#{bookCode}
	</update>
	
	<select id="bringBooks" parameterType="String" resultType="book">
	SELECT * from book where bookCode like #{noteCode} and usable=1 order by recentDate desc
	</select>

	<select id="bringBookPages" parameterType="String" resultType="post">
	SELECT*FROM notepost where bookCode=#{bookCode} order by pageIndex asc
	</select>
	<select id="bringLatestBookIndex" parameterType="String" resultType="java.lang.Integer">
	select pageIndex from notepost Where bookCode=#{bookCode} order by pageIndex desc limit 1
	</select>
	<update id="disableBookedPost" parameterType="String">
	UPDATE notepost SET usable=0, bookCode=null, booked=0, pageIndex=null where bookCode=#{bookCode}
	</update>
	<update id="disableBook" parameterType="String">
	UPDATE book SET usable=0 where bookCode=#{bookCode}
	</update>
</mapper>